@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;300;400&family=Montserrat:wght@200;300;400;500;600;700&family=Press+Start+2P&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  height: 100%;

}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, #fd1d1d, #fcb045);
  font-family: 'Kanit', sans-serif;
}

h2 {
  text-align: center;
}

main {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.4rem;
}

.title-container {
  text-align: center;
  margin-bottom: 2rem;
}

label {
  font-weight: bold;
}

.amount-container{
  margin-bottom: 1.3rem;
}

.amount-container input {
  width: 100%;
  border: 1px solid #000;
  padding: 0.6rem;
  margin-top: 0.5rem;
  outline: 0;
}

.unit-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.unit-container select {
  border: 1px solid #000;
  padding: 0.6rem;
  margin-top: 0.5rem;
}


#middle {
  display: none;
  height: 100px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  font-size: 50px;
}



.formula-container {
  margin: 1.4rem;
}

.formula-container .title{
 background-color: plum;
 color: #fff;
 font-size: 0.8rem;
 padding: 5px;
 border-radius: 5px;
}

.formula-container .content {
  font-size:  0.8rem;
}

#results{
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}


/* Buttons */


.buttons-container {
  margin: 0.5rem;
}

.btn{
  width: 100%;
  background-color: #fcb045;
  color: #fff;
  border-radius: 5px;
  padding: 0.6rem;
  margin-top: 0.5rem;
  outline: 0;
  cursor: pointer;
}

.btn-reset{
  background-color: #fd1d1d;
  border: none;
}